.new-story {
    width: 435px;
    margin:  0 auto;

    input {
        width: 435px;
        height: 60px;
        border: none;
    }

    input::placeholder {
        font-size: 34px;
    }

    input:nth-child(3) {
        height: 30px;
    }

    input:nth-child(3)::placeholder {
        font-size: 18px;
    }

    button {
        color: #fff;
        margin-top: 20px;
        height: 25px;
        line-height: 25px;
        padding: 0 8px;
        font-size: 15px;
        border: none;
        background-color: #1a8917;
        border-radius: 24px;
    }
}